@page "/"

<PageTitle>Calcolatrice</PageTitle>
<h1>Calcolatrice</h1>

<table style="text-align:center;">
    <caption class="caption-top">
        <div class="alert alert-secondary" role="alert" style="text-align:right;">
            &nbsp;@Display ( @opt )
        </div>
    </caption>
    <tr>
        <td><button class="btn btn-dark" @onclick="Cancella">C</button></td>
        <td><button disabled="@BloccaOperazioni" class="btn btn-dark" @onclick='TornaIndietro'>←</button></td>
        <td><button disabled="@(BloccaOperazioni)" class="btn btn-dark" @onclick='(()=>Tasto("/"))'>ͱ</button></td>
        <td><button disabled="@BloccaOperazioni" class="btn btn-dark" @onclick="(()=>Operazione('/'))">÷</button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-outline-dark" @onclick='(()=>Tasto("7"))'>7</button></td>
        <td><button type="button" class="btn btn-outline-dark" @onclick='(()=>Tasto("8"))'>8</button></td>
        <td><button type="button" class="btn btn-outline-dark" @onclick='(()=>Tasto("9"))'>9</button></td>
        <td><button disabled="@BloccaOperazioni" type="button" class="btn btn-dark" @onclick="(()=>Operazione('*'))">×</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("4"))'>4</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("5"))'>5</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("6"))'>6</button></td>
        <td><button disabled="@BloccaOperazioni" type="button" class="btn btn-dark" @onclick="(()=>Operazione('-'))">-</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("1"))'>1</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("2"))'>2</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("3"))'>3</button></td>
        <td><button disabled="@BloccaOperazioni" type="button" class="btn btn-dark" @onclick="(()=>Operazione('+'))">+</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-dark" @onclick='(()=>Tasto("-"))'>±</button></td>
        <td><button class="btn btn-outline-dark" @onclick='(()=>Tasto("0"))'>0</button></td>
        <td colspan="2"><button disabled="@BloccaOperazioni" class="btn btn-primary px-4" type="button" @onclick='Calcola'>&nbsp; = &nbsp;</button></td>
    </tr>
</table>
<ul class="list-group">
    @foreach (var item in StoricoOperazioni)
    {
        <li class="list-group-item">@item</li>
    }
</ul>

@code {
    private bool BloccaOperazioni = true;
    private string Display { get; set; } = "";
    private Frazione f1 = null;
    private Frazione f2 = null;
    private char opt = '\0';
    private List<string> StoricoOperazioni = new();

    private void Tasto(string s)
    {
        if (BloccaOperazioni) Display = "";
        Display += s;
        BloccaOperazioni = false;
    }
    private void Cancella()
    {
        BloccaOperazioni = true;
        Display = "";
        f1 = null; f2 = null;
        opt = '\0';
        StoricoOperazioni.Clear();
    }
    private void TornaIndietro()
    {
        if (Display.Length == 1) BloccaOperazioni = true;
        if (Display.Length > 0)
            Display = Display.Substring(0, Display.Length - 1);
    }
    private void Operazione(char op)
    {
        BloccaOperazioni = true;
        if (f1 is not null) Calcola();
        opt = op;
        f1 = new Frazione(Display);
    }
    private void Calcola()
    {
        f2 = new Frazione(Display);
        Display = "";
        Frazione? risultato = new();
        risultato = opt switch
        {
            '*' => f1 * f2,
            '/' => f1 / f2,
            '+' => f1 + f2,
            '-' => f1 - f2,
            _ => null
        };
        if (risultato is not null)
        {
            Display = risultato.Semplifica().ToString();
            StoricoOperazioni.Add(String.Concat(f1, opt, f2, " = ", Display));
        }
    }
    }
