@page "/paginageneratorepassword"

<PageTitle>Generatore Password</PageTitle>
<h1>Generatore <span class="badge bg-secondary">Password</span></h1>


<div class="form-check">
    <input class="form-check-input" type="radio"
           @onchange="@(() => generatorePassword.SetTipoPassword(TipoPassword.Cifre))"
           name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
        Cifre
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio"
           @onchange="@(() => generatorePassword.SetTipoPassword(TipoPassword.Lettere))"
           name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
        Cifre e Lettere
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio"
           @onchange="@(() => generatorePassword.SetTipoPassword(TipoPassword.CaratteriSpeciali))"
           name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault3">
        Cifre, Lettere e Caratteri Speciali
    </label>
</div>
<input @bind="@generatorePassword.Alfabeto" id="inputAlfabeto" class="form-control">
<label for="inputAlfabeto" class="form-label">Alfabeto</label>
<p>
    @generatorePassword.Alfabeto
</p>
<button @onclick="GeneraNuovaPassword">Nuova Password</button>
<p>
    @NuovaPassword
</p>
@code {
    private string NuovaPassword = "";
    private TipoPassword tPassword = TipoPassword.CaratteriSpeciali;
    private GeneratorePassword generatorePassword = new();


    void GeneraNuovaPassword()
    {
        NuovaPassword = generatorePassword.NuovaPassword(10);
    }
}
