@page "/fetchprodotti"

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Nav

<button class="btn btn-primary" @onclick='AggiungiProdotto'>
    Aggiungi nuovo prodotto
</button>

<label>
    Filtro
    <input @bind="Filtro" @bind:event="oninput" />
</label>
<label>
    Categorie
    <select @onchange="SelectedCategorieChanged" multiple>
        <option value="">Categoria ...</option>
        @foreach (var item in Categorie)
        {
            <option value="@item.Nome" selected="true">@item.Nome</option>
        }
    </select>
</label>
@*  Categorie Scelte: @SelectedCategorie.Join(c => c+ ", ")*@
@if (ProdottiFiltrati?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome Prodotto</th>
                <th>Categoria</th>
                <th>Prezzo</th>
                <th>Scadenza garanzia</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ProdottiFiltrati)
            {
                <tr>
                    <td>@item.ProdottoId</td>
                    <td><a href=@($"viewprodotto/{@item.ProdottoId}")>@item.Nome</a></td>
                    <td>@item.Categoria?.Nome</td>
                    <td>@($"{item.Prezzo:C}")</td>
                    <td>@item.DataScadenzaGaranzia?.ToLongDateString()</td>
                    <td>
                        <button @onclick="@(() => Elimina(item))" class="btn btn-danger">
                            Elimina
                        </button>
                        <a class="btn btn-primary" title="Modifica" href=@($"/addprodotto/{item.ProdottoId}")>
                            Modifica
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Non ci sono prodotti da mostrare!
    </div>
}

@code {
    private bool IsAdd = true;
    public string Filtro { get; set; } = "";
    private Prodotto? Prodotto { get; set; } = new();
    private List<Prodotto>? Prodotti { get; set; } = new();
    private List<Prodotto>? prodottiFiltrati;
    public string[] SelectedCategorie { get; set; }

    public List<Prodotto>? ProdottiFiltrati
    {
        get
        {
            List<Prodotto> temp = Prodotti.Where(p => p.Nome.ToLower().Contains(Filtro.ToLower())).ToList();

            if (SelectedCategorie is not null && SelectedCategorie.Count() > 0) 
            {
                temp = temp.Where(p => SelectedCategorie.ToList().Contains(p.Categoria.Nome)).ToList();
            }

            return temp;
        }
    }

    private List<Categoria>? Categorie { get; set; } = new();

    private void AggiungiProdotto()
    {
        Nav.NavigateTo("addprodotto");
    }

    protected override void OnInitialized()
    {
        LoadProdotti();
    }

    private void Elimina(Prodotto prodottoDaEliminare)
    {
        using var context = DbFactory.CreateDbContext();
        context.Remove(prodottoDaEliminare);
        context.SaveChanges();
        LoadProdotti();
    }

    private void LoadProdotti()
    {
        using var context = DbFactory.CreateDbContext();
        Prodotti = context.Prodotti.ToList();
        Categorie = context.Categorie.ToList();
    }

    void SelectedCategorieChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            SelectedCategorie = (string[])e.Value;
        }
    }
}
