@page "/fetchdata"

@inject IDbContextFactory<ApplicationDbContext> DbFactory

<EditForm Model="@Categoria" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Nome categoria
        <InputText @bind-Value="Categoria.Nome" />
    </label>
    <button type="submit" class="btn btn-primary">
        @(IsAdd ? "Aggiungi nuova categoria":"Salva modifiche")
    </button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Operazioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Categorie)
        {
            <tr>
                <td>@item.CategoriaId</td>
                <td>@item.Nome</td>
                <td>
                    <button @onclick="@(() => Elimina(@item))" class="btn btn-warning">
                        Elimina
                    </button>
                    <button @onclick="@(() => Modifica(@item))" class="btn btn-secondary">
                        Modifica
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool IsAdd = true;
    private Categoria? Categoria { get; set; } = new();
    private List<Categoria>? Categorie { get; set; } = new();

    protected override void OnInitialized()
    {
        LoadCategorie();
    }

    private void HandleSubmit()
    {
        using var context = DbFactory.CreateDbContext();
        if (IsAdd)
            context.Categorie.Add(Categoria);
        else
            context.Categorie.Update(Categoria);
        context.SaveChanges();
        IsAdd = true;
        Categoria = new();
        Categorie = context.Categorie.ToList();
    }

    private void Elimina(Categoria categoriaDaEliminare)
    {
        using var context = DbFactory.CreateDbContext();
        context.Remove(categoriaDaEliminare);
        context.SaveChanges();
        LoadCategorie();
    }

    private void Modifica(Categoria categoriaDaModificare)
    {
        IsAdd = false;
        Categoria = categoriaDaModificare;
    }

    private void LoadCategorie()
    {
        using var context = DbFactory.CreateDbContext();
        Categorie = context.Categorie.ToList();
    }
}
