@page "/fetchcategorie"

@attribute [Authorize]

@inject IDbContextFactory<ApplicationDbContext> DbFactory


<EditForm Model="@Categoria" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Nome categoria
        <InputText @bind-Value="Categoria.Nome" />

    </label>

    @if (IsAdd)
    {
        <button type="submit" class="btn btn-primary">
            Aggiungi nuova categoria
        </button>
    }
    else
    {
        <button type="submit" class="btn btn-warning">
            Salva modifiche
        </button>
    }
</EditForm>

@if (Categorie?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th># Prodotti</th>
                <td>Min</td>
                <td>Max</td>
                <td>Media</td>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Categorie)
            {
                <tr>
                    <td>@item.CategoriaId</td>
                    <td>
                        @item.Nome
                        
                    </td>
                    <td>@item.Prodotti.Count</td>
                    <td>@item.Prodotti.Min(p=>p.Prezzo)?.ToString("C")</td>
                    <td>@item.Prodotti.Max(p=>p.Prezzo)?.ToString("C")</td>
                    <td>@item.Prodotti.Average(p=>p.Prezzo)?.ToString("C")</td>
                    <td>
                        <button @onclick="@(() => Elimina(item))" class="btn btn-danger">
                            Elimina
                        </button>
                        <button @onclick="@(() => Modifica(item))" class="btn btn-secondary">
                            Modifica
                        </button>
                        <button @onclick="@(() => VisualizzaProdotti(item))" class="btn btn-primary">
                            Prodotti
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Non ci sono categorie da mostrare!
    </div>
}

@if (ProdottiCategoria?.Count > 0 && ProdottiCategoria is not null)
{
    <ul>
        @foreach (var item in ProdottiCategoria)
        {
            <li>@item.Nome - @($"{item.Prezzo:C}")</li>
        }
    </ul>
}

@code {
    private bool IsAdd = true;
    private Categoria? Categoria { get; set; } = new();
    private List<Prodotto>? ProdottiCategoria { get; set; } = new();
    private List<Categoria>? Categorie { get; set; } = new();

    protected override void OnInitialized()
    {
        LoadCategorie();
    }

    private void HandleSubmit()
    {
        using var context = DbFactory.CreateDbContext();
        if (IsAdd)
            context.Categorie.Add(Categoria);
        else
            context.Categorie.Update(Categoria);
        context.SaveChanges();
        IsAdd = true;
        Categoria = new();
        LoadCategorie();
    }

    private void Elimina(Categoria categoriaDaEliminare)
    {
        using var context = DbFactory.CreateDbContext();
        context.Categorie.Remove(categoriaDaEliminare);
        context.SaveChanges();
        LoadCategorie();
    }

    private void Modifica(Categoria categoriaDaModificare)
    {
        IsAdd = false;
        Categoria = categoriaDaModificare;
    }

    private void VisualizzaProdotti(Categoria categoria)
    {
        ProdottiCategoria = categoria.Prodotti?.ToList();
    }

    private void LoadCategorie()
    {
        using var context = DbFactory.CreateDbContext();
        Categorie = context.Categorie
        .Include(c => c.Prodotti)
        .ToList();
    }
}



